body{
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 20px;
   margin-right: 20px;
}

@page
{
   size: 5.5in 5.5in;
}


#price_textArea,
#party_textArea,
#qty_textArea,
#item_desc {
  resize: none;
}
