body{
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 20px;
   margin-right: 20px;
}

@page
{
   size: 1.2in 1.5in;
}


#price_textArea,
#party_textArea,
#qty_textArea,
#item_desc,
#SP_price_textArea,
#add_BarCode_textArea,
#add_Qty_textArea,
#print_BarCode_textArea {
  resize: none;
}
